h2 {
  font-size: 3rem;
}

p {
  line-height: 2.5rem;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0 1rem
}

nav {
  padding-right: 3rem;
}

p,
a {
  font-size: 2rem;
}

.gradient {
  background: linear-gradient(to right, var(--pink), var(--teal), var(--orange));
  height: 10px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
}

#header-logo {
  max-width: 40%;
  max-height: 100%;
  padding: .5rem .5rem .5rem 5rem;
}

.home {
  background-color: black;

  margin-top: 3rem;
}

#title-section {
  background-color: var(--black);
}

#board-section {
  background-color: white;
}

#world-section {
  background-color: var(--pink);
}

#about-section {
  background-color: var(--orange);
}

/* .inside-section h2, p {
  color: white;
} */

.inside-section hr {
  width: 100%;
  border-color: var(--pink);
}

.socials {
  display: inline-grid;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: white;
}

#background {
  background-image: url('./images/Big Moon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}